version: 1.0.{build}
branches:
  only:
  - master
image: Visual Studio 2022
configuration: Debug
platform: Any CPU
before_build:
- cmd: nuget restore
build_script:
  - cmd: dotnet --version
  - cmd: dotnet build "Shader Minifier.sln" /l:"C:\Program Files\AppVeyor\BuildAgent\dotnetcore\Appveyor.MSBuildLogger.dll"
test_script:
- cmd: Checker\bin\Debug\Checker.exe --compile-golden
