:root {
    --bg-main: #101020;
    --bg-light: #202040;
    --border: #404080;
    --text-color: #f0f0f0;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    margin-bottom: 10px;
    color: var(--text-color);
    background-color: var(--bg-main);
}

#conteneur {
    width: 100%;
}

.header {
    background-color: black;
    color: #eee;
    padding-left: 188px;
    padding-right: 0px;
    line-height: 1.6em;
}

.left h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
    border-bottom: solid 1px var(--border);
}

.left {
    font-size: 1em;
    width: 164px;
    background-color: var(--bg-light);
    border: solid 1px #000;
    position: absolute;
    padding-top: 6px;
    top: 0px;
    left: 10px;
}

.center h1 {
    font-size: 1.4em;
    border-bottom: solid 2px var(--border);
    text-align: right;
    margin-top: 0px;
    padding-top: 0px;
}

.center h2 {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 1.5em;
    font-size: 1.3em;
    text-align: center;
    background: var(--bg-light);
    font-variant: small-caps;
    letter-spacing: 2px;
}

.center form div {
    margin-bottom: 5px;
}

.center h3 {
    font-size: 1.1em;
    margin-top: 1em;
}

.center h4 {
    margin-bottom: 0.5em;
    font-size: 1em;
    font-weight: bold;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 1em;
}

label {
    min-width: 150px;
    display: inline-block;
}

summary {
    cursor: pointer;
}

.center big {
    margin-top: 8px;
}

.center {
    margin-top: 10px;
    margin-left: 188px;
    margin-right: 10px;
    margin-bottom: 10px;
}

details ul {
    padding-left: 1em;
    list-style: none;
}

#content {
    max-width: 800px;
    margin: 0px auto;
    padding: 10px 20px;
}

#menu ul, #menu li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#menu a {
    display: block;
    margin: 0;
    text-decoration: none;
    color: var(--text-color);
}

#menu a:hover {
    background-color: var(--bg-main);
    color: var(--text-color);
}

.field legend:hover {
    color: white;
    background-color: var(--border);
    border: solid 1px #225;
}

.center a {
    color: #88f;
    text-decoration: none;
    font-weight: bold;
}

.center a:visited {
    text-decoration: none;
    font-weight: bold;
}

.center a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.center .field a:hover {
    text-decoration: none;
}

.center .item, .center .block, fieldset {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    padding: 4px;
    border: solid 1px var(--border);
    display: block;
}

.center .item a {
    background-color: #AADDFF;
}

.center .item a:after {
    content: ':';
}

button, textarea, input {
    background-color: #1a1a2a;
    border: 1px solid var(--border);
    color: var(--text-color);
    padding: 4px;
}

textarea {
    box-sizing: border-box;
    width: 100%;
}

code {
    color: #ccf;
    padding: 8px;
}

.center pre {
    white-space: pre;
    font-family: monospace;
    border-left: solid 3px #666;
    white-space: pre-wrap;
    margin: 5px;
    padding-left: 8px;
}

.size {
    text-align: right;
    font-size: 0.8em;
}

#minify-btn {
    background-color: #4e2d9d;
    margin: 8px 0;
    padding: 8px;
    float: right;
}

.size {
    text-align: right;
    font-size: 0.8em;
}


/* Let's be modern and support mobile*/
@media (max-width: 750px) {
    .left {
        font-size: 1em;
        position: static;
        background-color: var(--bg-light);
        margin: 1em;
        padding: 10px;
        left: 0px;
        width: auto;
        border-top: solid 1px black;
    }

    #menu {
        visibility: hidden;
        position: fixed;
    }

    .left h1:before {
        content: "☰ ";
    }

    #menu h1:before {
        content: "";
    }

    .left:hover #menu {
        visibility: visible;
        position: static;
        /* to avoid clicking on the links when opening the menu */
        margin-top: 1em;
    }

    .center {
        margin: 1em;
    }

    #header {
        padding-left: 1em;
    }

    .left h1 {
        border: 0;
        margin: 0;
    }
}
